<template>
  <v-container fill-height fill-width>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Claim Resolution'" />
    </v-row>
    <v-row class="align-self-start" justify="center">
      <v-col cols="11" lg="8">
        <v-card tile class="overflow-y-auto" max-height="70vh" elevation="6">
          <v-data-table
            disable-pagination
            dense
            hide-default-footer
            :loading="isNOLoading"
            :items="netobjects"
            :headers="headers"
          >
            <template v-slot:[`item.updated_by`]="{ item }">
              <div style="max-width: 90px;" @click.stop class="text-truncate">
                <a
                  @click="
                    userId = item.updated_by;
                    showUserInfo = true;
                  "
                >
                  {{ item.updated_by }}
                </a>
              </div>
            </template>
            <template v-slot:top>
              <UserInfo
                v-if="showUserInfo"
                v-bind:id="userId"
                @user-child-object="checkUserChildObject"
              />
              <ManageApproval
                v-if="showManageApprovalDialog"
                @child-object="checkChildObject"
                v-bind:item="processedObject"
              />
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    v-on="on"
                    v-bind="attrs"
                    medium
                    @click="
                      resetNotification();
                      processedObject = item;
                      showManageApprovalDialog = true;
                    "
                    class="mr-2"
                    >mdi-cogs</v-icon
                  >
                </template>
                <span>Manage Claim</span></v-tooltip
              >
            </template>
          </v-data-table>
          <v-alert
            v-if="hasNOLoadingError"
            type="error"
            dense
            style="padding: 8px"
            text
            class="mt-2"
          >
            {{ $store.state.application.httpErrorMessage }}
          </v-alert>
        </v-card>
        <v-text-field
          class="mt-4"
          v-if="isRequestLoading"
          loading
          disabled
        ></v-text-field>
        <UIAlert
          class="mt-4"
          v-if="isRequestSuccessful || hasRequestError"
          v-bind:isSuccessful="isRequestSuccessful"
          v-bind:message="
            isRequestSuccessful
              ? 'Approval state set successfully'
              : $store.state.application.httpErrorMessage
          "
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<style lang="scss" scoped>
/* Display the horizontal scroll bar */
::v-deep .v-data-table__wrapper {
  overflow-x: visible;
  overflow-y: clip;
}
</style>
<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021, 2022 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { useHeadersBuilder } from "@/lib/use-headersbuilder";
import { mapDate } from "@/lib/use-mapper";
import { useUserInfo } from "@/lib/use-userinfo";
import { defineAsyncComponent, onMounted, ref, watch } from "vue";
import { HTTP } from "../../lib/http";
import { useRouter } from "vue-router/composables";
import { useStore } from "@/store";

const SectionTitle = defineAsyncComponent(() =>
  import("@/components/ui/SectionTitle.vue")
);
const UIAlert = defineAsyncComponent(() =>
  import("@/components/ui/UIAlert.vue")
);
const UserInfo = defineAsyncComponent(() =>
  import("@/components/usermanagement/UserInfo.vue")
);
const ManageApproval = defineAsyncComponent(() =>
  import("@/components/netobjects/ManageApproval.vue")
);

const router = useRouter();
const store = useStore();

const originalHeaders = [
  {
    text: "Organisation",
    value: "organisation.name",
    divider: true
  },
  {
    text: "Last Change",
    value: "updated_at",
    divider: true
  },
  {
    text: "Netobject",
    value: "netobject",
    divider: true
  },
  {
    value: "actions",
    sortable: false,
    align: "center",
    width: "50px"
  }
];
const headers = ref(useHeadersBuilder(originalHeaders));
// Get Netobjects
const netobjects = ref();
const isNOLoading = ref(false);
const hasNOLoadingError = ref(false);
const getNetobjects = () => {
  isNOLoading.value = true;
  HTTP.get("/netobjects")
    .then(response => {
      netobjects.value = [
        ...response.data.asns,
        ...response.data.fqdns,
        ...response.data.networks,
        ...response.data.ripe_handles
      ].map(n => ({
        ...n,
        netobject: n.fqdn || n.address || n.ripe_org_hdl || "AS" + n.asn,
        updated_at: n.updated_at ? mapDate(n.updated_at) : ""
      }));
    })
    .catch(() => {
      hasNOLoadingError.value = true;
    })
    .finally(() => {
      isNOLoading.value = false;
    });
};
const isRequestSuccessful = ref(false);
const hasRequestError = ref(false);
const isRequestLoading = ref(false);
const resetNotification = () => {
  store.commit("application/setHttpErrorMessage", "");
  isRequestSuccessful.value = false;
  hasRequestError.value = false;
};

// Update netobject state
const processedObject = ref();
onMounted(() => {
  getNetobjects();
});

// Redirect to "/netobjects" component when switching to orgaadmin node
// since this component is intended to be used only by portal/tenant admin(s)
watch(
  () => store.state.user.selectedNode,
  () => {
    if (store.getters["user/isOrgaAdmin"]) {
      router.push("/netobjects");
    }
  }
);
const showManageApprovalDialog = ref(false);
// React to the emitted values
const checkChildObject = e => {
  if (e.closeDialog) {
    showManageApprovalDialog.value = false;
  }
  if (e.stateChanged) {
    isRequestSuccessful.value = true;
    // As long as only the pending claims are listed, remove the
    // approved/denied netobject to avoid new request to get the right ones
    const index = netobjects.value.indexOf(processedObject.value);
    netobjects.value.splice(index, 1);
  }
};
const { checkUserChildObject, userId, showUserInfo } = useUserInfo();
</script>
