
header .navbar {
    background: #204747;
}

.navbar-title {
    background-image: url(http://tuencythree:7080/resources/logo.png);
    width: 292px;
    height: 59px;
}

.bs-sidebar ul li.active a {
    background-color: #439494;
    color: #fff;
}

.btn-primary-custom {
    background: #178A8D;
    color: #fff;
}

.btn-primary-custom:hover {
    background: #439494;
    color: #fff;
}
