<template>
  <v-container fill-width fill-height>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Contacts'" class="col col-12" />
      <NodeInfo />
    </v-row>
    <v-row justify="center">
      <DataEditHint />
    </v-row>
    <v-row class="align-self-start mt-10" justify="center">
      <v-col cols="11" class="px-0">
        <div class="d-flex mx-4">
          <v-autocomplete
            style="max-width:28%;"
            dense
            clearable
            :items="organisations"
            v-model="selectedOrga"
            :search-input.sync="searchForOrga"
            return-object
            item-text="name"
            :loading="isOrgLoading"
            persistent-hint
            label="Search for organisation"
            hint="Contacts belong to the chosen organisation"
            append-icon="mdi-magnify"
            @change="
              page = 1;
              getContacts();
            "
          >
          </v-autocomplete>
          <v-select
            v-if="tags && tags.length"
            dense
            label="Filter by Orga-Tag"
            class="ml-4"
            style="max-width: 22%;"
            :items="orgaTags"
            @change="
              page = 1;
              getContacts();
            "
            v-model="orgaTagToFilterBy"
            return-object
            clearable
            item-text="name"
          ></v-select>
          <v-select
              dense
              label="Filter by Roles"
              class="ml-4"
              style="max-width: 22%;"
              :items="roles"
              @change="
              page = 1;
              getContacts();
            "
              v-model="rolesToFilterBy"
              return-object
              multiple
              clearable
              small-chips
              deletable-chips
              item-text="name"
          ></v-select>
        </div>
        <Pagination
            @pagination-object="checkPaginationObject"
            v-bind:sortDirection="sortDirection"
            v-bind:totalItems="totalContacts"
            v-bind:tags="tags"
            v-bind:searchEnabled="true"
            type="contact"
        />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-alert
          v-if="queryContactNotAccessible"
          border="bottom"
          colored-border
          type="error"
          elevation="2"
          dismissible
          close-icon="mdi-close"
      >
        The requested contact id can either not be found or is not accessible.
      </v-alert>
    </v-row>
    <v-row class="align-self-start mt-6" justify="center">
      <v-col cols="8" v-if="loading">
        <v-text-field loading disabled></v-text-field>
      </v-col>
      <v-col cols="11" class="text-center px-0">
        <v-data-iterator
          :items="contacts"
          item-key="contact_id"
          :server-items-length="totalContacts"
          hide-default-footer
        >
          <template v-slot:default="{ items }">
            <v-row class="px-2" justify="space-around">
              <v-col
                v-for="item in items"
                :key="item.contact_id"
                cols="12"
                sm="8"
                md="5"
                lg="4"
              >
                <v-card
                  class="text-start overflow-y-auto"
                  height="100%"
                  width="100%"
                  :style="{
                    border:
                      item.type === 'abusec' ? '1px rgba(0,0,0,0.5) solid' : ''
                  }"
                >
                  <v-toolbar flat dense>
                    <v-toolbar-title class="mr-2">
                      <v-icon v-if="getRoleRestrictions(item).length > 0">mdi-shield-lock-outline</v-icon>
                      {{ getTitle(item) }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <div class="d-flex">
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                              medium
                              v-bind="attrs"
                              v-on="on"
                              @click="requestToView(item)"
                              class="mx-1"
                          >mdi-eye</v-icon
                          > </template
                        ><span>View Contact</span></v-tooltip
                      >
                      <v-tooltip top v-if="item.type !== 'abusec'">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            medium
                            v-bind="attrs"
                            v-on="on"
                            @click="requestToEdit(item)"
                            class="mx-1"
                            >mdi-pencil</v-icon
                          > </template
                        ><span>Edit Contact</span></v-tooltip
                      >
                      <v-tooltip top v-if="item.type !== 'abusec'">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            medium
                            v-bind="attrs"
                            v-on="on"
                            @click="requestToDelete(item)"
                            class="mx-1"
                            >mdi-delete</v-icon
                          >
                        </template>
                        <span>Delete Contact</span></v-tooltip
                      >
                    </div>
                  </v-toolbar>
                  <v-divider></v-divider>
                  <ContactInfo v-bind:item="item" />
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
      <UIAlert
        class="d-flex mt-4 justify-center"
        v-if="
          hasRequestError ||
            isAddSuccessful ||
            isEditSuccessful ||
            isDeleteSuccessful
        "
        v-bind:isSuccessful="!hasRequestError"
        v-bind:message="
          isAddSuccessful
            ? 'Contact added successfully'
            : isEditSuccessful
            ? `${getTitle(selectedItem)} updated successfully`
            : isDeleteSuccessful
            ? `${getTitle(selectedItem)} deleted successfully`
            : $store.state.application.httpErrorMessage
        "
      />
    </v-row>
    <ManageContact
      v-bind:processType="processType"
      v-bind:item="selectedItem"
      @child-object="checkChildObject"
      v-if="showManagementDialog"
    />
    <v-dialog v-model="showDeleteDialog" max-width="530">
      <v-card>
        <v-card-title class="headline text-break" v-if="selectedItem">
          Are you sure you want to delete contact:
          {{ selectedItem.email ? selectedItem.email : "" }}?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="showDeleteDialog = false"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="confirmDeletion">yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-tooltip left>
      <template #activator="{ on }">
        <v-btn icon v-on="on"
          fixed
          right
          bottom
          fab
          :class="themeTextClass"
          :style="canUseRestrictedContacts ? 'margin-bottom: 10em' : 'margin-bottom: 5em'"
          id="theme"
          @click="exportContacts()"
          >
          <v-icon>mdi-export</v-icon>
        </v-btn>
      </template>
      <span>Export contact view</span>
    </v-tooltip>
    <v-tooltip left>
      <template #activator="{ on }">
        <v-btn icon v-on="on"
          fixed
          right
          bottom
          fab
          :class="themeTextClass"
          :style="canUseRestrictedContacts ? 'margin-bottom: 5em' : 'margin-bottom: 0em'"
          id="theme"
          @click="
            resetNotification();
            processType = 'add';
            showManagementDialog = true;
          "
          >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>Add contact</span>
    </v-tooltip>
    <v-tooltip left>
      <template #activator="{ on }">
        <v-btn icon v-on="on"
            v-if="canUseRestrictedContacts"
            fixed
            right
            bottom
            fab
            :class="themeTextClass"
            id="theme"
            @click="
            resetNotification();
            processType = 'add-restricted';
            showManagementDialog = true;
          "
        >
          <v-icon>mdi-plus-lock</v-icon>
        </v-btn>
      </template>
      <span>Add admin contact</span>
    </v-tooltip>
  </v-container>
</template>

<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021, 2022 Fadi Abbud <fadi.abbud@intevation.de>
 * 2023 Martin Haidn <martin@haidn.eu>
 */
import { HTTP, CancelToken, isRequestCanceled } from "@/lib/http";
import { useNotification } from "@/lib/use-notification";
import { useStore } from "@/store";
import { useRoute } from "vue-router/composables";
import { getTitle, getRoleRestrictions } from "@/lib/use-fieldbuilder";
import papaparse from "papaparse";

import { computed, defineAsyncComponent, onMounted, ref, watch } from "vue";
import debounce from "debounce";
import JSZip from "jszip";
import { saveAs } from "file-saver";
import { useOrganisation } from "@/lib/use-organisation";
import router from "@/router";
const SectionTitle = defineAsyncComponent(() =>
  import("@/components/ui/SectionTitle.vue")
);

const DataEditHint = defineAsyncComponent(() =>
  import("@/components/ui/UIDataEditHint.vue")
);
const UIAlert = defineAsyncComponent(() =>
  import("@/components/ui/UIAlert.vue")
);
const NodeInfo = defineAsyncComponent(() =>
  import("@/components/ui/NodeInfo.vue")
);
const ManageContact = defineAsyncComponent(() =>
  import("@/components/contacts/ManageContact.vue")
);
const ContactInfo = defineAsyncComponent(() =>
  import("@/components/contacts/ContactInfo.vue")
);
const Pagination = defineAsyncComponent(() =>
  import("@/components/ui/Pagination.vue")
);
const store = useStore();
const route = useRoute();
const contacts = ref();
const loading = ref(false);
const queryContactNotAccessible = ref(false);
const {
  isAddSuccessful,
  isEditSuccessful,
  isDeleteSuccessful,
  hasRequestError,
  resetNotification
} = useNotification();
const showManagementDialog = ref(false);
const totalContacts = ref(0);
const onGoingRequest = ref(false);
let cancelToken: object;

const processQueryParams = () => {
  if (route.query.organisation_id && route.query.organisation_name) {
    selectedOrga.value = {
      organisation_id: Number(route.query.organisation_id),
      name: route.query.organisation_name
    }
  }

  if (route.query.contact_id) {
    openQueryContact(route.query.contact_id, route.query.type ?? "view");
  }
};

const appendContactIdToQuery = (contactId) => {

  const queryParams = { ...route.query, ...{contact_id: contactId, type: processType.value}};
  router.replace({ query: queryParams}).catch(() => undefined);
};

const removeContactQueryParams = () => {
  const queryParams = Object.assign({}, route.query);
  delete queryParams.contact_id;
  delete queryParams.type;
  router.replace({query: queryParams}).catch(() => undefined);
}

const openQueryContact = (contactId, viewType) => {
  const route = "/contacts?contact_id=" + contactId;

  //Save the cancel token for the current request
  cancelToken = CancelToken.source();
  return HTTP.get(route, { cancelToken: cancelToken["token"] })
      .then(response => {
        if (response.data[0]) {
          if (viewType === "view") {
            requestToView(response.data[0]);
          }
          if (viewType === "edit") {
            requestToEdit(response.data[0]);
          }
        } else {
            queryContactNotAccessible.value = true;
        }
      })
      .catch(error => {
        queryContactNotAccessible.value = true;
      });
}
const getContacts = () => {
  return new Promise<void>((resolve, reject) => {
    loading.value = true;
    onGoingRequest.value = true;
    let route = "";
    if (options.value) {
      route = `/contacts?page=${options.value["page"]}&row=${
        options.value.itemsPerPage
      }${options.value["search"] ? "&search=" + options.value["search"] : ""}`;
      if (options.value["tagToFilterBy"]) {
        route += "&tag=" + options.value["tagToFilterBy"];
      }
      if (options.value['expiredOnly']) {
        route += '&expired=1'
      }
    } else {
      route = "/contacts?page=1&row=10";
    }
    if (selectedOrga.value) {
      route += "&organisation=" + selectedOrga.value.organisation_id;
    }
    if (orgaTagToFilterBy.value) {
      route +=
        "&organisation_tag=" + orgaTagToFilterBy.value.organisation_tag_id;
    }
    if (rolesToFilterBy.value) {
      rolesToFilterBy.value.forEach((role) => {
        route += "&roles[]=" + role.name;
      });
    }
    if (store.getters["user/isOrgaAdmin"]) {
      route += "&ancestor=" + store.state.user.selectedNode.node_id;
    }
    //Save the cancel token for the current request
    cancelToken = CancelToken.source();
    HTTP.get(route, { cancelToken: cancelToken["token"] })
      .then(response => {
        if (response.data.data) {
          contacts.value = response.data.data;
          totalContacts.value = response.data.total;
        } else {
          contacts.value = response.data;
          totalContacts.value = 0;
        }
        resolve();
      })
      .catch(error => {
        // Check if the request canceled mmanually to avoid
        // Error notification as this not a real error
        if (isRequestCanceled(error)) {
          onGoingRequest.value = false;
        } else {
          hasRequestError.value = true;
          reject();
        }
      })
      .finally(() => {
        loading.value = false;
        onGoingRequest.value = false;
      });
  });
};
const processType = ref("");
const selectedItem = ref();
const requestToEdit = item => {
  resetNotification();
  processType.value = getRoleRestrictions(item).length > 0 ? "edit-restricted" : "edit";
  selectedItem.value = item;
  showManagementDialog.value = true;
  appendContactIdToQuery(item.contact_id);
};

const requestToView = item => {
  resetNotification();
  processType.value = getRoleRestrictions(item).length > 0 ? "view-restricted" : "view";
  selectedItem.value = item;
  showManagementDialog.value = true;
  appendContactIdToQuery(item.contact_id);
};

// Roles
const roles = computed(() => {
  return store.state.application.contactRoles;
});

// Tags
const tags = computed(() => {
  return store.state.contact.contactTags;
});
const getTags = () => {
  loading.value = true;
  store
    .dispatch("contact/loadContactTags")
    .then()
    .catch(() => (hasRequestError.value = true))
    .finally(() => (loading.value = false));
};
const orgaTags = computed(() => {
  return store.state.organisation.organisationTags;
});
const getOrgaTags = () => {
  loading.value = true;
  store
    .dispatch("organisation/loadOrganisationTags")
    .then()
    .catch(() => (hasRequestError.value = true))
    .finally(() => (loading.value = false));
};
// Abuse-c
const abuseC = computed(() => {
  return store.state.contact.abuseC;
});
const getAbuceC = () => {
  loading.value = true;
  store
    .dispatch("contact/loadAbuseC", store.state.user.selectedNode.node_id)
    .then(() => {
      contacts.value.unshift(abuseC.value);
    })
    .catch(() => (hasRequestError.value = true))
    .finally(() => (loading.value = false));
};
watch(
  () => store.state.user.selectedNode,
  () => {
    getContacts();
    resetNotification();
  }
);
onMounted(() => {
  processQueryParams();
  getContacts();
  getTags();
  getOrgaTags();
  getOrganisations(1);
  if (store.getters["user/isOrgaAdmin"]) {
    getAbuceC();
  }
});
const checkChildObject = e => {
  if (e.closeDialog) {
    showManagementDialog.value = false;
    removeContactQueryParams();
  }
  if (e.contactChanged) {
    getContacts();
    switch (processType.value) {
      case "add": {
        isAddSuccessful.value = true;
        break;
      }
      case "add-restricted": {
        isAddSuccessful.value = true;
        break;
      }
      case "edit": {
        isEditSuccessful.value = true;
        break;
      }
      case "edit-restricted": {
        isEditSuccessful.value = true;
      }
    }
  }
};
// Delete Contact
const showDeleteDialog = ref(false);
const requestToDelete = item => {
  resetNotification();
  selectedItem.value = item;
  showDeleteDialog.value = true;
};
const confirmDeletion = () => {
  loading.value = true;
  HTTP.delete(
    `/organisations/${selectedItem.value.organisation_id}/contacts/${selectedItem.value.contact_id}`
  )
    .then(() => {
      getContacts();
      isDeleteSuccessful.value = true;
    })
    .catch(() => {
      hasRequestError.value = true;
    })
    .finally(() => {
      loading.value = false;
      showDeleteDialog.value = false;
    });
};
const generateCSV = items => {
  let csv = "sep=,\r\n";
  let header = [];
  const multilineFields = new Set();

  store.state.application.contactRoles.forEach(role => {
    role.fields.forEach(f => {
      // Exclude the public key materials
      if (["s_mime_cert", "openpgp_pubkey"].indexOf(f.name) === -1) {
        header = Array.from(new Set(header.concat(f.name)));
      }

      // Map multiline field types for later sanitization.
      if (["text_area"].includes(f.type)) {
        multilineFields.add(f.name);
      }
    });
  });

  header.unshift("organisation_name", "roles");
  // Reform itmes to the form, the "papaparse" accepts.
  const data = items.map(d => Object.assign({}, d));
  data.forEach((dataRow, index) => {
    for (const dataRowKey in dataRow) {
      if (dataRow[dataRowKey] === -1) {
        data[index][dataRowKey] = ""; // Avoid "-1" value in case "ZIP" field is empty
      }

      // Replace line breaks in multiline fields with spaces.
      if (data[index][dataRowKey] && multilineFields.has(dataRowKey)) {
        data[index][dataRowKey] = data[index][dataRowKey].replace(/[\r\n]+/g, " ");
      }

      // Copy the value from the nested object to main object name
      // which gets used by "papaparse" (as using nested object is not supported for now)
      if (dataRow[dataRowKey] && typeof dataRow[dataRowKey] == "object") {
        data[index][dataRowKey] = dataRow[dataRowKey].name || dataRow[dataRowKey].value || "";
      }

      if (dataRowKey === "roles") {
        const roles = JSON.parse(dataRow[dataRowKey] ? dataRow[dataRowKey] : "");
        data[index][dataRowKey] = roles.join(';');
      }
    }
  });
  csv += papaparse.unparse(
    {
      fields: header,
      data: data
    },
    {
      escapeFormulae: true,
      quotes: true
    }
  );
  return csv;
};
const downloadFiles = data => {
  const csvFile = generateCSV(data);
  const openpgpKeys: object[] = [];
  const smimiKeys: object[] = [];
  data.forEach(c => {
    if (c["openpgp_pubkey"]) {
      openpgpKeys.push(c["openpgp_pubkey"]);
    }
    if (c["s_mime_cert"]) {
      smimiKeys.push(c["s_mime_cert"]);
    }
  });
  const zip = new JSZip();
  const now = new Date();
  // Include these files only if they contain keys
  if (openpgpKeys.length) {
    zip.file("openpgp_pubkeys.asc", openpgpKeys.filter(k => k).join("\n"));
  }
  if (smimiKeys.length) {
    zip.file(`cms-pubkeys.crt`, smimiKeys.filter(k => k).join("\n"));
  }
  zip.file("Contacts-export.csv", csvFile);
  zip
    .generateAsync({ type: "blob" })
    .then(blob => {
      saveAs(
        blob,
        `Contacts-export-${now
          .toISOString()
          .split("T")[0]
          .replace(/-/g, "") +
          "-" +
          now
            .toISOString()
            .split("T")[1]
            .substr(0, 5)
            .replace(":", "")}.zip`
      );
    })
    .catch(error => {
      console.log(error);
    });
};
const exportContacts = () => {
  let contactsForExport = [];
  if (totalContacts.value > 10) {
    loading.value = true;
    let route = "/contacts";
    if (search.value) {
      route += "&search=" + search.value;
    }
    if (filterByTag.value) {
      route += "&tag=" + filterByTag.value;
    }
    if (selectedOrga.value) {
      route += "&organisation=" + selectedOrga.value.organisation_id;
    }
    if (orgaTagToFilterBy.value) {
      route += "&organisation_tag=" + orgaTagToFilterBy.value.organisation_id;
    }
    if (rolesToFilterBy.value) {
      rolesToFilterBy.value.forEach((role) => {
        route += "&roles[]=" + role.name;
      });
    }
    if (store.getters["user/isOrgaAdmin"]) {
      route += "&ancestor=" + store.state.user.selectedNode.node_id;
    }
    route = route.replace("&", "?");
    HTTP.get(route)
      .then(response => {
        contactsForExport = response.data;
        downloadFiles(contactsForExport);
      })
      .catch(() => {
        hasRequestError.value = true;
      })
      .finally(() => {
        loading.value = false;
      });
  } else {
    contactsForExport = contacts.value;
    downloadFiles(contactsForExport);
  }
};

// Organisations
const { getOrganisations, organisations, isOrgLoading } = useOrganisation();
const searchForOrga = ref("");
watch(
  () => searchForOrga.value,
  (newValue, oldValue) => {
    if (oldValue !== newValue) {
      triggerOrgaSearch(newValue);
    }
  }
);
const triggerOrgaSearch = debounce(() => {
  getOrganisations(1, undefined, searchForOrga.value);
}, 500);
const selectedOrga = ref();
const search = ref("");
const filterByTag = ref();
const options = ref({ page: 1, itemsPerPage: 10 });
const checkPaginationObject = e => {
  if (e.refresh) {
    options.value = e.options;
    // Cancel last Request if it is pending
    if (onGoingRequest.value) {
      cancelToken["cancel"]("close");
    }
    getContacts();
    search.value = e.options.search || "";
    filterByTag.value = e.options.tagToFilterBy;
  }
};
const sortDirection = ref();
const orgaTagToFilterBy = ref();
const rolesToFilterBy = ref();
const page = 1;

// Theme icon/text class.
const themeTextClass = computed(() => {
  return store.getters["theme/getTextClass"];
});

const canUseRestrictedContacts = computed(() => {
  return !!(store.getters["application/getPortalAdminRoles"].length !== 0 && store.getters["user/isPortalAdmin"]);
});
</script>
