<template>
  <div>
    <v-card
      tile
      class="overflow-y-auto organisation-list"
      max-height="70vh"
      elevation="6"
    >
      <v-subheader class="text-h5">Contact Tags</v-subheader>
      <v-divider></v-divider>
      <v-data-table
        disable-pagination
        dense
        hide-default-footer
        :items="tags"
        item-key="id"
        :loading="isLoading"
        :headers="[
          {
            text: 'Name',
            align: 'start',
            value: 'name',
            divider: true
          },
          {
            text: 'Tenants',
            value: 'tenants',
            divider: true
          },
          {
            text: 'Visibility',
            value: 'visible',
            divider: true,
            sortable: true
          },
          {
            text: 'Last Change',
            value: 'updated_at',
            divider: true
          },
          {
            text: 'Actions',
            value: 'actions',
            sortable: false
          }
        ]"
      >
        <template v-slot:[`item.updated_at`]="{ item }">
          {{ item ? mapDate(item.updated_at) : "" }}
        </template>
        <template v-slot:top>
          <ManageTag
            v-if="showManagementDialog"
            v-bind:processType="processType"
            v-bind:tagType="'contact'"
            v-bind:item="selectedItem"
            @child-object="checkChildObject"
          />
        </template>
        <template v-slot:[`item.tenants`]="{ item }">
          <div class="d-flex">
            <UILogo
              class="mx-1"
              v-for="(tenant, i) in item.tenants"
              :key="i"
              v-bind:tenant="tenant.name"
            />
          </div>
        </template>
        <!-- Rename true/false values to visible/invisible for more calrity -->
        <template v-slot:[`item.visible`]="{ item }">
          <div class="d-flex">
            {{ item.visible ? "Visible" : "Invisible" }}
          </div>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                v-on="on"
                v-bind="attrs"
                medium
                @click="
                  resetNotification();
                  processType = 'edit';
                  selectedItem = item;
                  showManagementDialog = true;
                "
                >mdi-pencil</v-icon
              > </template
            ><span>Edit Tag</span></v-tooltip
          >
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                v-on="on"
                v-bind="attrs"
                medium
                class="ml-2"
                @click="
                  resetNotification();
                  processType = 'delete';
                  selectedItem = item;
                  showManagementDialog = true;
                "
                >mdi-delete</v-icon
              >
            </template>
            <span>Delete Tag</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
    <div class="d-flex justify-end mt-6">
      <v-btn
        elevation="2"
        class="px-6"
        @click="
          selectedItem = {};
          showManagementDialog = true;
          processType = 'add';
          resetNotification();
        "
      >
        New Contact Tag
      </v-btn>
    </div>
    <UIAlert
      class="mt-4"
      v-if="
        isAddSuccessful ||
          isDeleteSuccessful ||
          hasRequestError ||
          isEditSuccessful
      "
      v-bind:isSuccessful="!hasRequestError"
      v-bind:message="
        isAddSuccessful
          ? `Tag added successfully`
          : isDeleteSuccessful
          ? `${selectedItem.name} deleted successfully`
          : isEditSuccessful
          ? `${selectedItem.name} updated successfully`
          : $store.state.application.httpErrorMessage
      "
    />
  </div>
</template>

<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021, 2022 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { useNotification } from "@/lib/use-notification";
import { computed, defineAsyncComponent, onMounted, ref } from "vue";
import { useStore } from "@/store";
import { mapDate } from "@/lib/use-mapper";

const UIAlert = defineAsyncComponent(() =>
  import("@/components/ui/UIAlert.vue")
);
const UILogo = defineAsyncComponent(() => import("@/components/ui/UILogo.vue"));
const ManageTag = defineAsyncComponent(() =>
  import("@/components/systemconfiguration/ManageTag.vue")
);
const store = useStore();
const {
  isAddSuccessful,
  isDeleteSuccessful,
  hasRequestError,
  isEditSuccessful,
  resetNotification
} = useNotification();
const isLoading = ref(false);
// Load tags
const tags = computed(() => {
  return store.state.contact.contactTags;
});
const getTags = () => {
  isLoading.value = true;
  store
    .dispatch("contact/loadContactTags")
    .then()
    .catch(() => {
      hasRequestError.value = true;
    })
    .finally(() => {
      isLoading.value = false;
    });
};
onMounted(() => {
  getTags();
});
const processType = ref();
const selectedItem = ref();
const showManagementDialog = ref();
// React to the emitted values
const checkChildObject = e => {
  if (e.closeDialog) {
    showManagementDialog.value = false;
  }
  if (e.tagChanged) {
    getTags();
    switch (processType.value) {
      case "add": {
        isAddSuccessful.value = true;
        break;
      }
      case "edit": {
        isEditSuccessful.value = true;
        break;
      }
      case "delete": {
        isDeleteSuccessful.value = true;
        break;
      }
    }
  }
};
</script>
